---
layout: default
---

<div class="course-detail course-detail--coaching">
  <div class="course-header "> {% comment %} This gets the course type class modifier for color coding{% endcomment %}
    <div class="row align-center">
      <div class="large-9 column">
        <h2>Coaching Program <br>for {{ page.name }}</h2>
        <div class="course-detail__tagline">{{ page.description_short }}</div>
        <div class="course-detail__apply"><a href="#" class="button">Apply</a></div>
      </div>
    </div>

    <div class="course-detail__dates">
      {% comment %} This is kind of creepy, but makes sense in the Foundation way of building narrower content {% endcomment %}
      <div class="row align-center">
        <div class="large-9">
          <div class="row">
            <div class="large-4 column">
              <h3 class="course-detail__date">Application Deadline</h3>
              <h2 class="course-detail__date">{{ page.date.application }}</h2>
            </div>
            <div class="large-4 column">
              <h3 class="course-detail__date">starts the week of</h3>
              <h2 class="course-detail__date">{{ page.date.week_start }}</h2>
            </div>
            <div class="large-4 column">
              <h3 class="course-detail__date">Course Ends on</h3>
              <h2 class="course-detail__date">{{ page.date.end }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="row align-center">
      <div class="large-9 column">
        <div class="course-detail__passion">
          <h2>{{ page.passion.title }}</h2>
          <ul>
            {% for item in passion.bullets %}
              <li>{{ page.item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="divider">
    <div class="row">
      <div class="large-12 column"><h1>Course Description</h1></div>
    </div>
  </div>
  <div class="page-section">
    <div class="row align-center">
      <div class="large-9 column">
        {{ page.description_long }}
      </div>
    </div>
  </div>
  <div class="divider">
    <div class="row">
      <div class="large-12 column"><h1>Course Format</h1></div>
    </div>
  </div>
  <div class="page-section">
    <div class="row align-center">
      <div class="large-9 column">
        <p><strong>Course Format:</strong>{{ page.format }}</p>
        <div class="format">
        {% if when %}
          <p>Online sessions will be held <strong>{{ page.when }}</strong></p>
          {% if when_plus %}<p><em>{{ page.when_plus }}</em></p>{% endif %}
        {% endif %}
          <p><strong>Course Duration:</strong> {{ page.duration }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Faculty Members</h1>
      </div>
    </div>
  </div>
  <div class="faculty-members">
    <div class="row expanded collapse align-center">
      {% for name in page.faculty_members %}
      {% assign person = site.data.people | where:"title", name | first %}
        {% if person %}
          <a href="people/{{person.name.slug}}.html" target="_blank" class="large-3 column faculty-card {% if person.is_govlab %}faculty-card--govlab {% endif%}">
            <div class="faculty-card__picture" style="background-image: url(/images/faculty/{{ person.name.slug }}.jpg);"></div>
            <h1 class="faculty-card__name ">{{ person.name.first }} {{ person.name.last }}</h1>
            <p class="faculty-card__description">{{ person.job }}</p>
          </a>
        {% else %}
        <p>{{ name }}</p>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
