---
layout: default
---

<div class="b-faculty-detail m-coaching">
  <div class="b-faculty-header">
    <div class="row">
      <div class="large-8 column large-centered">
        <div class="e-faculty-picture" style="background-image:url(/img/faculty/{{ page.name.slug }}.jpg"></div>
        <h2>{{ page.name.first }} {{ page.name.last }}</h2>
        <h3 class="e-tagline">{{ page.name.job }}</h3>
      </div>
    </div>
  </div>
  <div class="b-page-section">
    <div class="row">
      <div class="large-8 column large-centered">
        <div class="e-course-passion">
          <p>{{ page.description }}</p>
        </div>
      </div>
    </div>
  </div>

  {% comment %}The sections below will only be rendered if the faculty has classes listed{% endcomment %}

  <div class="b-divider">
    <div class="row">
      <div class="large-12 column"><h2>Courses</h2></div>
    </div>
  </div>
  <ul class="b-course-list">
    {% assign courses = site.data.coaching | where:"faculty_members", page.title %}
    {% for course in courses %}
      <li class="e-course-item">
        <div class="row">
          <div class="large-12 column">
            <h2 class="e-course-title">{{ course.name }}</h2>
          </div>
          <div class="large-6 column">

            <p class="e-course-application">APPLICATION DUE: {{ course.date.application }}</p>
            <div class="e-course-faculty-team">
              <div class="e-course-faculty column large-3 end" style="background-image: url('/img/faculty/{{ page.name.slug }}.jpg');">
                <p>{{ page.name.first }} {{ page.name.last }}</p>
              </div>
            </div>
          </div>
          <div class="large-6 column">
            <p class="e-course-description">{{ course.description_short }}</p>
            <a href="{{course.id}}.html" class="b-button">more info</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
