---
---

* { box-sizing: border-box; }

// Breakpoints
$small-only: (max-width 40em);
$medium: 40.063em 64em;
$touch: (max-width 64em);
$medium-up: 40.063em;
$large: 64.063em;
$large-up: (min-width 64.063em);

// Colors
$orange: #ee5b43;
$blue: blue;
$purple: purple;

$main-color: $orange;

$clinics-color: #efce7c;
$coaching-color: #22a69b;
$workshop-color: #366473;
$masters-color: #f9b26f;




@import 'breakpoint';
@import 'utils';
@import 'styleguide-patch';
@import 'base';

@import 'custom';
@import 'homepage';
// @import 'project-gallery';
// @import 'single-landing';
@import 'course-detail';
@import 'course-list';
@import 'faculty';
@import 'faculty-detail';
@import 'syllabus';
@import 'library';

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}
