
// color coding for the top section
.top-section {
  .course-detail.m-clinics &,
  .course-list--clinics &   { background-color: $clinics-color; }
  .course-detail--coaching &,
  .course-list--coaching &   { background-color: $coaching-color; }
  .course-detail.m-masters  &,
  .course-list--masters  &   { background-color: $workshop-color; }
  .course-detail.m-workshop &,
  .course-list--workshop &   { background-color: $masters-color; }
}

// Faculty Page Styles

.faculty-header {
  @extend .top-section;
  text-align: center;

  .faculty-picture {
    margin: 0 auto 30px;
    @include circle;
    width: 300px;
    height: 300px;
    padding: 0;
    background-size: 100%;
    background-position: center;
  }
}

.project-gallery-grid {
  .card-3 {
    width: 100%;
    min-height: 300px;

    &__image {
      min-height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      align-items: flex-end;
      display: flex;
      justify-content: center;
    }

    &__content {
      padding-top: 0;
      width: 100%;
    }
  }
}