.library-page {

  // styleguide resource card override
  .resources-section .result-item__taxonomy__key {
      width: 85px;
  }

// dropdown filters
  .dropdown-wrapper {
    width: 90%;
    margin: 0 auto;
    position: relative;

    .select {
      margin-bottom: 25px;
      margin-right: 10px;

      select {
        width: 110%;
      }
    }


    .button--icon-only {
      @include breakpoint($small-only) {
        width: 100%;
      }
    }
  }

  .filter-panel {
    .select,
    .button { margin: 12px 0; }
    .button--icon-only { padding: 13px; }
  }
// end dropdown filters
  
  .search {
    input[type='text'] {

      @include placeholder { color: white; }
      
    }
  }
  .search--fixed, .js-active {
      z-index: 1;
  }


}