<!-- Modal Content -->
<div class="modal js-target-modal">
  <header class="modal__header modal--top-section">

    <i class="modal__close material-icons js-close-modal">close</i>
    <h1 class="modal__title">{{class.classTitle}}</h1>
    <!-- <h2 class="modal__authors">Authors</h2> -->
    <p class="modal__publication"><span>Class week</span> {{class.classWeek}}</p>

    <!-- URL -->
    <div class="floating-button">
      <div class="floating-button__wrapper">
        <!-- <a class="button button--floating button--black" target="_blank" href="" title="">Go to Resource</a> -->
      </div>
    </div>
  </header>

  <div class="modal__content">
    <!-- Short Description -->
    <div class="result-item__short-description">
      <p>{{class.classDescription}}</p>
    </div>
  </div>
</div>
