<header class="top-bar">
  <span class="top-bar__button js-trigger-menu">menu</span>
  
  <nav class="main-menu js-target-menu main-menu--left">
    {% include menu.html %}
  </nav>
 
  <a class="top-bar__logo" href="./"><img src="{{site.url}}{{site.baseurl}}/images/govlab-logo-white.png" alt="The GovLab"></a>
  
  <span class="top-bar__button js-trigger-menu">more_vert</span>
  <nav class="main-menu js-target-menu main-menu--right">
    <a href="https://twitter.com/TheGovLab" target="_blank">Twitter</a>
    <a href="https://www.youtube.com/user/TheGovLab" target="_blank">Youtube</a>
  </nav>
</header>