---
layout: default
---
{% assign coachingPrograms = site.data.contentful.spaces.cases.coachingProgram %}

<div class="course-list course-list--coaching">
  <div class="top-section">
    <div class="row">
      <div class="large-12 column">
        <h1>Coaching Programs</h1>
        <h3>Geared to the purpose-driven participant inside and outside of government  (both individuals and teams) passionate about a public problem and already undertaking a project, these programs are designed to help participants develop a project from idea to implementation.</h3>
      </div>
    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Upcoming courses</h1>
      </div>
    </div>
  </div>
  <ul class="course-list">

  {% assign currentCoachingPrograms = coachingPrograms | find_upcoming_data: 'applicationDeadline' | sort: "applicationDeadline" %}
    {% assign courseSize = currentCoachingPrograms | size %}
    {% if courseSize == 0 %}
          <p>There are no upcoming courses.</p>
    {% else%}
      {% for course in currentCoachingPrograms %}
        <li class="course-item">
          <div class="row">
            <div class="large-12 column">
              <h2 class="course-item__title">{{ course.programName }}</h2>
            </div>
            <div class="large-6 column">
              <p class="course-item__application">APPLICATION DUE: {{ course.applicationDeadline | date: "%B %-d, %Y" }}</p>
              <p class="course-item__application">STARTS THE WEEK OF: {{ course.startDate | date: "%B %-d, %Y" }}</p>
              <div class="course-item__faculty-team row column">
                {% for person in course.faculty %}
                  <a href="/faculty/{{ person.lastName }}.html" target="_blank" class="course-item__faculty column large-3 end" style="background-image: url('/images/faculty/{{ person.firstName | slugify }}-{{ person.lastName | slugify }}.jpg');">
                    <p>{{ person.firstName }} {{ person.lastName }}</p>
                  </a>
                {% endfor %}
              </div>
            </div>
            <div class="large-6 column">
              <p class="e-course-description">{{ course.shortDescription }}</p>
              <a href="coaching/{{ course.programName | slugify }}.html" class="button">more info</a>
            </div>
          </div>
        </li>
      {% endfor %}
    {% endif %}
  </ul>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Past courses</h1>
      </div>
    </div>
  </div>
  <ul class="course-list course-list--past-courses">

    {% assign pastCoachingPrograms = coachingPrograms | find_past_data: 'endDate'  | sort: "endDate" | reverse %}

    {% for course in pastCoachingPrograms %}
        <li class="course-item">
          <div class="row">
            <div class="large-6 column">
              <h2 class="course-item__title">{{ course.programName }}</h2>
              <p class="course-item__application">STARTED THE WEEK OF: {{ course.startDate | date: "%B %-d, %Y" }}</p>
              <div class="course-item__faculty-team">
                {% for person in course.faculty %}
                    <a href="/faculty/{{ person.lastName }}.html" target="_blank">
                      <div class="course-item__faculty column large-3 end" style="background-image: url('/images/faculty/{{ person.firstName | slugify }}-{{ person.lastName | slugify }}.jpg');">
                        <p>{{ person.firstName }} {{ person.lastName }}</p>
                      </div>
                    </a>
                    {%comment%}
<!--                   {% else %}
                    <div class="course-item__faculty column large-3 end" style="background-image: url('/images/faculty/{{ person.name.slug  }}.jpg');">
                      <p>{{name}}</p>
                    </div>
                  {% endif %} -->
                  {%endcomment%}
              {% endfor %}
            </div>
          </div>
          <div class="large-6 column">
            <p class="course-item__description">{{ course.shortDescription | markdownify }}</p>
            <a href="coaching/{{ course.programName | slugify }}.html" class="button">more info</a>
          </div>
        </div>
        </li>

    {% endfor %}
  </ul>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h3>About</h3>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="row">
      <div class="large-12 column">
        <h2>Programs offer</h2>
        <ul>
          <li>Frequent and constructive feedback</li>
          <li>Customized and original learning materials</li>
          <li>Peer-to-peer support</li>
          <li>Introductions to global topic experts</li>
          <li>Group meetings online with the faculty for 1-2 hours: one hour is for discussion of projects by the whole group and the second hour, a guest lecture</li>
          <li>Faculty and staff online office hours with the teams to address project progress</li>
        </ul>
        <a href="http://goo.gl/forms/j403fD74Jk" class="button">Suggest a coaching program<i class="material-icons">arrow_forward</i></a>
      </div>
    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h3>Our Method</h3>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="row">
      <div class="large-12 column">
        <img src="/images/coaching-diagram2.png" alt="Coaching program Lifecycle">
      </div>
    </div>
    <div class="row">
      <div class="large-12 column">
        <ul>
          <li>A flexible, customized program responsive to the participants’ specific needs and challenges</li>
          <li>Rigorous diagnosis of impediments to project implementation that allow us to customize learning;</li>
          <li>Emphasis on specific and evidence­-based problem definition to ensure that the project solves a well­defined problem;</li>
          <li>A combination of subject­-matter and skills­-based training to address both deficits in knowledge about innovation and in know how about how to apply that knowledge to one’s own project;</li>
          <li>Peer­-to-­peer support where similarly situated public entrepreneurs counsel and support each other through challenges together;</li>
          <li>Mentoring and coaching from experts with a track record of leading successful social change;</li>
          <li>High­-quality original and curated content ,tools, and resources</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h3>FAQ</h3>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="row">
      <div class="large-12 column">
        <h3>What is an Academy Coaching Program?</h3>
        <p>It is a hands-on, issue-focused learning and mentoring program designed to help you design and implement solutions to one or another specific type of public interest problem using civic technology. Geared to the purpose-driven participant who is a member of an active team that is passionate about a public problem and already undertaking a project, this program helps you develop a project from idea to implementation. Unlike a traditional accelerator, we focus only on the public interest and only on projects that work with real-world institutions and partners, such as agencies and NGOs, to develop more effective and scalable initiatives.</p>

        <h3>How Does it Work?</h3>
        <p>The coaching programs are  limited enrollment (maximum class size of 10 projects), entirely online, highly customized, and meet every week for 4-5 consecutive weeks or every other week for 8-10 weeks. To help you and your team become more effective, we offer a combination of coaching and skill-building, connection to a network of subject-matter experts, peer to peer mentoring, customized and original learning materials, and frequent and constructive feedback opportunities from a team of teachers and peers at every stage of your agile design-driven process.</p>

        <h3>Where Do the Sessions Meet?</h3>
        <p>Entirely online.</p>

        <h3>How Much Time Will This Take?</h3>
        <ul>
          <li>Upon admission, faculty and staff will engage with your team to identify opportunities, diagnose problems, and develop a customized reading and research plan.</li>
          <li>Each week, the full group meets online with the faculty for 1-2 hours where one hour is discussion of projects by the group and the second hour is a guest lecture.</li>
          <li>Each week, participants meet on their own in smaller groups.</li>
          <li>Every other week, faculty and staff hold an "office" hour with the team to address project progress.</li>
        </ul>

        <h3>Who May Participate?</h3>
        <p>Innovators and public entrepreneurs working inside, outside, or in collaboration with public institutions who have:</p>
        <ul>
          <li>A problem about which they are passionate.</li>
          <li>An open mind to developing innovative approaches that take advantage of technology to bring the broader palette of human expertise to bear on your problem.</li>
          <li>Intellectual curiosity and a willingness to experiment are essential for this course. No formal technology training is assumed or required, but a willingness to play with new tools will be.</li>
          <li>Time and energy to commit to the program activities.</li>
          <li>The drive to do what it takes to develop a project from idea to implementation with the potential of real-world impact for people and communities. Keep in mind that the way to have the greatest impact might not involve building an app or creating a new non-profit but collaborating with others.</li>
          <p>We will give strong preference to team, as opposed to individual, applications</p>
          <p>*Further pre­requisites may apply on specific courses</p>
        </ul>

        <h3>How Do I Apply?</h3>
        <p>We want to understand the problem you or your team want to tackle with your project and your metrics for its success.<p>
        <p>Please <a href="https://the-govlab.forms.fm/coaching-programs-application-form">click here to fill out an application for an Academy Coaching program</a>. The same form can be used for all of the Academy Programs. If applying as a team, each team member should fill out a separate application.</p>
        <p>Admitted applicants will be asked to <a href="http://govlabacademy.org/static/files/letter-of-commitment.pdf">sign this letter of commitment</a>.</p>

        <h3>There are Three People in My Office Who Want to Do This. Can Teams Apply?</h3>
        <p>Yes, people are encouraged to apply as a team. Each member must complete his or her own skills profile but teams work on a common project throughout the program. People can also choose to become a team and work on a common project during the course of the program.</p>

        <h3>When is the Application Due?</h3>

        {% assign currentCoachingPrograms = coachingPrograms | find_upcoming_data: 'applicationDeadline' %}
        {% assign courseSize = currentCoachingPrograms | size %}
        {% if courseSize == 0 %}
          <p>There are no upcoming courses.</p>
        {% else%}
          <table>
            <thead>
              <th>Projects Focus</th>
              <th>Application due</th>
              <th>Course begins</th>
            </thead>
            <tbody>
              {% for course in currentCoachingPrograms %}
                <tr>
                  <td>{{ course.programName }}</td>
                  <td>{{ course.applicationDeadline | date: "%B %-d, %Y" }}</td>
                  <td>{{ course.startDate | date: "%B %-d, %Y" }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {%endif%}

        <h3>Who will lead each program?</h3>
        <p>Each coaching program will be led by leading experts of the field with the active support of the GovLab Academy team.</p>

        <h3>Do I Get Course Credit?</h3>
        <p>Those who successfully complete the requirements will receive an authenticated badge and certificate.</p>

        <h3>How long is the program?</h3>
        <p>The length of each program could be either 4 consecutive weeks or every other week for 8 weeks coaching programs.</p>

        <h3>Do I Have to Pay Something?</h3>
        <p>We are constantly in the search for funding so that we can keep our programs for free or at the minimum cost possible. Because we receive different funding to different programs, the price may vary. However, please do reach out to us if your coaching program has a fee you cannot cover the cost. If admitted, we will do our best to have you participate with us.</p>

        <h3>Who are the Mentors? Can I Pick My Own?</h3>
        <p>Mentors are either subject matter experts working on similar problems or challenges or people who have a track record as effective change agents. The best mentors, of course, are your classmates.</p>
        <p>You can find your own but we commit to helping to pair you with relevant domain experts.</p>

        <h3>This Looks Like a Lot of Work?</h3>
        <p>It is. This is not a simulation but an opportunity to get a real civic tech project closer to implementation. A lot of work will need to get done outside the classroom, including user interviews and background research. Although we take account of the fact that people have other jobs and classes, this is a lot of work but in connection with your passions!</p>

        <h3>Will I receive a certificate upon completion of the program?</h3>
        <p>We will provide a Certificate of Accomplishment for individuals who complete all requirements of each program.</p>
      </div>
    </div>
  </div>
</div>
