---
layout: default
---
{% assign libraryResources = site.data.contentful.spaces.resources.resource %}


<div class="library-page">
  <div class="top-section top-section--purple">
    <div class="row">
      <div class="large-12 column">
        <h1>Library</h1>
      </div>
    </div>
  </div>

  <div class="resources-section">
    <div class="row expanded collapse">
      <div id="resources" class="columns results-container">
        <div id="list" class="list">
        {% for resource in libraryResources %}
          <div class="result-item js-open-modal">
            <h2 class="result-item__name">{{ resource.title }}</h2>
            <p class="result-item__authors">{{ resource.author | join:", "}}</p>

            <!-- Short Description -->
            <div class="result-item__short-description">
              <p>{{ resource.shortDescription }}</p>
            </div>

            <!-- Publication -->
            <div class="result-item__publication">
              <p><span>Published in</span> {{ resource.publicationName }}</p>
            </div>

            <!-- Resource pubdate  -->
            <div class="result-item__taxonomy result-item__taxonomy--type">
              <span class="result-item__taxonomy__key">Date</span>
              <span class="result-item__taxonomy__value">
                  <p class="result-item__tag resource-date" data-type="all">{{ resource.publicationDate | date: "%F" }}</p>
              </span>
            </div>

            <!-- Resource type -->
            <div class="result-item__taxonomy result-item__taxonomy--type">
              <span class="result-item__taxonomy__key">Type</span>
              <span class="result-item__taxonomy__value">
                  <p class="result-item__tag resource-type" data-type="all">{{ resource.type }}</p>
              </span>
            </div>

            <!-- Resource category tags -->
            <div class="result-item__taxonomy result-item__taxonomy--type">
              <span class="result-item__taxonomy__key">Category</span>
              <span class="result-item__taxonomy__value resource-tags" data-theme="all">
                {% for tag in resource.resourceCategory %}
                  <p class="result-item__tag">{{ tag }}</p>
                {% endfor %}
              </span>
            </div>

            <!-- Resource objective tags -->
            <div class="result-item__taxonomy result-item__taxonomy--type">
              <span class="result-item__taxonomy__key">Objective</span>
              <span class="result-item__taxonomy__value resource-tags" data-theme="all">
                {% for tag in resource.resourceObjective %}
                  <p class="result-item__tag">{{ tag }}</p>
                {% endfor %}
              </span>
            </div>

            <!-- Resource methodology tags -->
            <div class="result-item__taxonomy result-item__taxonomy--type">
              <span class="result-item__taxonomy__key">Methodology</span>
              <span class="result-item__taxonomy__value resource-tags" data-theme="all">
                {% for tag in resource.resourceMethodology %}
                  <p class="result-item__tag">{{ tag }}</p>
                {% endfor %}
              </span>
            </div>

            <!-- Modal Content -->
            <div class="modal js-target-modal">
              <header class="modal__header modal--top-section">
                <div class="modal__type">
                  <span>Resource Type</span>
                </div>

                <i class="modal__close material-icons js-close-modal">close</i>
                <h1 class="modal__title">Title</h1>
                <h2 class="modal__authors">Authors</h2>
                <p class="modal__publication"><span>Published in</span> Day/Month/Time</p>

                <!-- URL -->
                <div class="floating-button">
                  <div class="floating-button__wrapper">
                    <a class="button button--floating button--black" target="_blank" href="{{resource.url}}" title="">Go to Resource</a>
                  </div>
                </div>
              </header>

              <div class="modal__content">
                <!-- Short Description -->
                <div class="result-item__short-description">
                  <p>Add Short Description</p>
                </div>
                <p>Add Annotation</p>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>