---
layout: default
---

<div class="b-course-list m-clinics">
  <div class="b-top-section"> {% comment %}This gets the course type class modifier for color coding{% endcomment %}
    <div class="row">
      <div class="large-12 column">
        <h1>Courses &amp; Project Clinics</h1>
        <h3>Graduate - and professional-level courses, for credit and/or for certification, on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation.</h3>
      </div>
    </div>
  </div>

  <div class="b-divider">
    <div class="row">
      <div class="large-12 column">
        <h3>Upcoming courses</h3>
      </div>
    </div>
  </div>
  <ul class="b-course-list">
    {% for course in site.data.clinics %}
      {% if !course.is_crosslisted %}
        <li class="e-course-item">
          <div class="row">
            <div class="large-12 column">
              <h2 class="e-course-title">{{ course.name }}</h2>
            </div>
            <div class="large-6 column">
              <p class="e-course-application">APPLICATION DUE: {{ course.date.application }}</p>
              <div class="e-course-faculty-team row column">
                {% for name in course.faculty_members %}
                  {% assign person = site.data.people | where:"title", name | first %}
                  {% if person %}
                    <a href="{{ person.name.slug }}.html" target="_blank">
                      <div class="e-course-faculty column large-3 end" style="background-image: url('/img/faculty/{{ person.name.slug }}.jpg');">
                        <p>{{ person.name.first }} {{ person.name.last }}</p>
                      </div>
                    </a>
                  {% else %}
                    <div class="e-course-faculty column large-3 end" style="background-image: url('/img/faculty/{{ person.name.slug  }}.jpg');">
                      <p>{{ name }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="large-6 column">
              <p class="e-course-description">{{ course.description_short }}</p>
              {% if course.actions %}
                {% for action in course.actions %}
                  <a class="b-button" href="{{action.link}}">{{ action.label }}</a>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <div class="b-divider">
    <div class="row">
      <div class="large-12 column">
        <h3>Courses offered by partner organizations</h3>
      </div>
    </div>
  </div>
  <ul class="b-course-list m-past-courses">
    {% for course in site.data.clinics %}
      {% if course.is_crosslisted %}
        <li class="e-course-item">
          <div class="row">
            <div class="large-6 column">
              <h2 class="e-course-title">{{ course.name }}</h2>
              <p class="e-course-application">APPLICATION DUE: {{ course.date.application }}</p>
              <div class="e-course-faculty-team">
                {% for name in course.faculty_members %}
                  {% assign person = site.data.people | where:"title", name | first %}
                  {% if person %}
                    <a href="{{ person.name.slug }}.html" target="_blank">
                      <div class="e-course-faculty column large-3 end" style="background-image: url('/img/faculty/{{ person.name.slug }}.jpg');">
                        <p>{{ person.name.first }} {{ person.name.last }}</p>
                      </div>
                    </a>
                  {% else %}
                    <div class="e-course-faculty column large-3 end" style="background-image: url('/img/faculty/{{ person.name.slug  }}.jpg');">
                      <p>{{ name }}</p>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="large-6 column">
              <p class="e-course-description">{{ course.description_short }}</p>
                {% if course.actions %}
                  {% for action in course.actions %}
                    <a class="b-button" href="{{action.link}}">{{ action.label }}</a>
                  {% endfor %}
                {% endif %}
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
