---
layout: default
---

{% assign syllabuses = site.data.contentful.spaces.syllabuses.syllabus %}

<div class="syllabus">
  <div class="top-section top-section--purple">
    <div class="row">
      {% for syllabus in syllabuses %}
      <div class="column">
        <h1 class="syllabus__title">{{syllabus.syllabusTitle}}</h1>
      </div>
    </div>
    <div class="row align-right expanded">
      <div class="column small-12 large-4">
        <div class="syllabus__date-container">
          {% if syllabus.startDate or syllabus.endDate  %}
            <h6 class="syllabus__date">Starts: {{syllabus.startDate | date: "%B %d, %Y"}}</h6>
            <h6 class="syllabus__date">Ends: {{syllabus.endDate | date: "%B %d, %Y"}}</h6>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="syllabus__section">
    <div class="row medium-uncollapse expanded">
      <div class="column medium-6 large-10 small-12 columns">
        <h4 class="syllabus__description-text">Description</h4>
        <p class="syllabus__description">{{syllabus.description}}</p>
      </div>

      {% if syllabus.faculty %}
      <div class="column large-2 medium-2 small-12">
        <div class="row expanded collapse">
          <div id="resources" class="columns results-container">
            <div id="list" class="list">
              <div class="syllabus__faculty-list">
                <div class="result-item">
                  {% for faculty in syllabus.faculty %}
                    <div class="result-item">
                      <div class="js-open-modal">
                        <div class="syllabus__faculty" style="background-image: url('{{site.url}}{{site.baseurl}}/images/faculty/{{ faculty.firstName | slugify }}-{{ faculty.lastName | slugify | replace: 'ú', 'u'}}.jpg');">
                        </div>
                      </div>
                      {% include faculty-modal.html %}
                    </div>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    </div>
  </div>


    <div class="syllabus__objectives">
      <div class="row expanded medium-uncollapse">

          <div class="column large-6 small-12">
            <div class="syllabus__objectives--objective">
              <h6>Objectives</h6>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>


          <div class="column large-6 small-12">
            <div class="syllabus__objectives--info">
              <h6>Additional Info</h6>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
          </div>
        </div>

    </div>


  <div class="divider">
    <h1>Classes</h1>
  </div>

  <div class="syllabus__classes">
    <div class="resources-section">
      <div class="row expanded collapse">
        <div id="resources" class="columns results-container">
          <div id="list" class="list">
            {% for class in syllabus.syllabusClasses %}
            <div class="result-item">
              <div class="js-open-modal">
                <h2 class="result-item__name">{{class.classTitle}}</h2>

                <!-- Short Description -->
                <div class="result-item__short-description">
                  <p>{{class.classDescription | strip_html | truncatewords: 30}}</p>
                </div>

                <!-- Publication -->
                <div class="result-item__publication">
                  <p><span>Class week</span> {{class.classWeek}}</p>
                </div>
              </div>

              {% if class.resources %}
                <div class="result-item__taxonomy result-item__taxonomy--type">
                  <span class="result-item__taxonomy__key">Resources</span>
                  {% assign all_resources = site.data.contentful.spaces.resources.resource %}

                  <span class="result-item__taxonomy__value">
                    {% for resource in class.resources %}
                      {% assign class_resource_id = resource.sys.id %}
                        {% for item in all_resources %}
                          {% if item.sys.id == class_resource_id %}
                          <p class="result-item__tag resource-type" data-type="all">{{item.title}}</p>
                          {% endif %}
                        {% endfor %}
                    {% endfor %}
                  </span>
              </div>
            {% endif %}
            {% include class-modal.html %}
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider">
    <h1>Resources</h1>
  </div>

  <div class="syllabus__resources">
    <div class="resources-section">
      <div class="row expanded collapse">
        <div id="resources" class="columns results-container">
          <div id="list" class="list">
            {% if syllabus.resources %}
              {% for resource in syllabus.resources %}
                <div class="result-item">
                  <div class="js-open-modal">
                    {% assign resource_id =  resource.sys.id%}
                    {% for item in all_resources %}
                      {% if item.sys.id == resource_id %}
                        <h2 class="result-item__name">{{item.title}}</h2>

                        <!-- Short Description -->
                        <div class="result-item__short-description">
                          <p>{{item.shortDescription | strip_html | truncatewords: 30}}</p>
                        </div>

                        <!-- Publication -->
                        <div class="result-item__publication">
                          <p><span>Published</span> {{item.publicationDate | date: "%B %d, %Y"}}</p>
                        </div>


                      <!-- Authors -->
                      <div class="result-item__taxonomy result-item__taxonomy--type">
                        <span class="result-item__taxonomy__key">Author</span>
                        <span class="result-item__taxonomy__value resource-theme" data-theme="all">
                          {% for authors in item.author %}
                            <p class="result-item__tag">{{authors}}</p>
                          {% endfor %}
                        </span>
                      </div>

                      <!-- Resource theme -->
                      <div class="result-item__taxonomy result-item__taxonomy--type">
                        <span class="result-item__taxonomy__key">Publisher</span>
                        <span class="result-item__taxonomy__value resource-theme" data-theme="all">
                            <p class="result-item__tag">{{item.publicationName}}</p>
                        </span>
                      </div>

                      <!-- Resource type -->
                      <div class="result-item__taxonomy result-item__taxonomy--type">
                        <span class="result-item__taxonomy__key">Type</span>
                        <span class="result-item__taxonomy__value">
                            <p class="result-item__tag resource-type" data-type="all">{{item.type}}</p>
                        </span>
                      </div>
                    </div>

                    <!-- Modal Content -->
                    <div class="modal js-target-modal">
                      <header class="modal__header modal--top-section">
                        <div class="modal__type">
                          <span>{{item.type}}</span>
                        </div>

                        <i class="modal__close material-icons js-close-modal">close</i>
                        <h1 class="modal__title">{{item.title}}</h1>
                        {% for authors in item.author %}
                          <h2 class="modal__authors">{{authors}}</h2>
                        {% endfor %}

                        <p class="modal__publication"><span>Published</span> {{item.publicationDate | date: "%B %d, %Y"}}</p>

                        <!-- URL -->
                        <div class="floating-button">
                          <div class="floating-button__wrapper">
                            {% if item.url %}
                              <a class="button button--floating button--black" target="_blank" href="{{item.url}}" title="">Visit Webpage</a>
                            {% endif %}
                          </div>
                        </div>
                      </header>

                      <div class="modal__content">
                        <!-- Short Description -->
                        <div class="result-item__short-description">
                          <p>{{item.shortDescription}}</p>
                        </div>
                        <p>Published by <b>{{item.publicationName}}</b></p>
                        <p>Type <b>{{item.type}}</b></p>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
</div>
