---
layout: default
---

<div class="course-list course-list--workshop">
  <div class="top-section">
    <div class="row">
      <div class="large-12 column">
        <h1>Workshops</h1>
        <h3>Limited enrollment (maximum class size 30; maximum number of teams, 6), customized 1-3 day, intensively “hands on,” in-person working sessions for city - and government agency-based teams preparing to wrestle with the specific issues and challenges at one or another stage of the governance innovation process.</h3>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="row">
      <div class="large-12 column">
        <h3>Few workshops are offered on specific dates and open to application by all</h3>
        <ul>
            <li><strong>WHO</strong> Teams of civic entrepreneurs, especially in government or other organizations. Maximum of 30 individuals and/or 6 teams</li>
            <li><strong>WHAT</strong> Highly interactive workshop, leveraging a combination of mini-lectures, team-based exercises, and post-session follow-up</li>
            <li><strong>WHEN</strong> 1-2 day sessions by arrangement</li>
            <li><strong>WHERE</strong> In-person</li>
          </ul>
      </div>
    </div>
  </div>
  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Upcoming Workshops</h1>
      </div>
    </div>
  </div>
  <ul class="course-list">
    {% for workshop in site.data.contentful.spaces.cases.workshop %}
      {% for type in workshop.workshopType %}
        {% if type != "Partner Workshop" %}
          <li class="course-item">
            <div class="row">
              <div class="large-6 column">
                <h2 class="course-item__title">{{ workshop.workshopName }}</h2>
                {% if workshop.partner %}
                  <h6 class="course-item__type">{{ workshop.partner }}</h6>
                {% endif %}
                {% if type == "By Request" %}
                  <h6 class="course-item__type">{{ workshop.workshopType }}</h6>
                {% endif %}
              </div>
              <div class="large-6 column">
                <p class="e-course-description">{{ workshop.shortDescription }}</p>
                {% if workshop.website %}
                  <a class="button" href="{{workshop.website}}">Course Page</a>
                {% endif %}
                {% if workshop.workshopPdf %}
                  <a class="button" href="{{ workshop.workshopPdf.url }}">Course Syllabus</a>
                {% endif %}
                {% if workshop.faculty %}
                  {% for member in workshop.faculty %}
                  <div class="faculty-container">
                    <div class="faculty-image" style="background-image: url('/images/faculty/{{member.firstName}}-{{member.lastName}}.jpg')">
                    </div>
                    <div class="faculty-name">
                      <p>{{member.firstName}} {{member.lastName}}</p>
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Workshops offered by partner organizations</h1>
      </div>
    </div>
  </div>
  <ul class="course-list">
    {% for workshop in site.data.contentful.spaces.cases.workshop %}
      {% for type in workshop.workshopType %}
        {% if type == "Partner Workshop" %}
          <li class="course-item">
            <div class="row">
              <div class="large-6 column">
                <h2 class="course-item__title">{{ workshop.workshopName }} </h2>
                <h6 class="course-item__type">{{ workshop.partner }}</h6>
              </div>
              <div class="large-6 column">
                <p class="e-course-description">{{ workshop.shortDescription }}</p>
                {% if workshop.website %}
                  <a class="button" href="{{workshop.website}}">Course Page</a>
                {% endif %}
                {% if workshop.workshopPdf %}
                  <a class="button" href="{{ workshop.workshopPdf.url }}">Course Syllabus</a>
                {% endif %}
                {% if workshop.location %}
                  <a class="button" href="https://goo.gl/maps/dZ5BZ">LOCATION</a>
                {% endif %}
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
